
body {
    margin: 0;
    padding: 0;
    background-color: #F0FFFF;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #f1a2a2, #4970f3);
    border-radius: 3px;
    color: #fff;
    padding: 20px;
    font-style: italic;
    font-size: 34px;
    width: 100vw;
    z-index: 1;
}

.center_string {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 3px;
}

.animate {
    animation: animateText 10s linear infinite;
}

@keyframes animateText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0);
    }
}


.container {
    margin: 0 auto;
    padding: 10px 40px;
    width: 80%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f1f1f1, #8ea3ea);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

h1 {
width: 100%;
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #5d5858  ;
    background: linear-gradient(to right, #f1a2a2, #4970f3);
}
.user_info {
    width: 35%;
    padding: 50px;
    background-color: #f6f4e1;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    color: #6e5f63;
    font-size: 24px;
    position: relative;
}

.user_info:hover {
    transform: translateY(-1px);
    background-color: #f5eded;
    cursor: pointer;
}

.user_info {
    font-weight: bold;
    margin-right: 10px;
}

.item {
    padding: 5px;
    margin-top: 5px;
    background-color: #e1e1ea;
    border-radius: 3px;
    cursor: pointer;
}

a {
    color: #817f7f;
    text-decoration: none;
}

.btn_user_info  {
    padding: 0 5px;
    height: 50px;
    width: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #8491d3;
    border-radius: 3px;
    color: #f6f4e1;

}
 .btn_user_info:hover {
    background-color: #5b6fd9;
    transform: translateY(-1px);
}
.btn_posts {
    margin: 10px;
    width: 95%;
    padding: 10px;
    background-color: #f1a2a2;
    border-radius: 3px;
    color: #f6f4e1;
    border: none;
    font-weight: bold;
}

.btn_posts:hover {
    background-color: #7c8ce7;
    transform: translateY(-1px);
}

.back {
    display: flex;
    color: #5d5858;
    width: 120px;
    justify-self: end;
    margin-left: 350px;
}

.back:hover {
    color: #e7c7ce;
}



.detail {
    width: 400px;
    height: 200px;
    padding: 10px;
    position: fixed;
    /*top: -600px;*/
    top: 100px;
    right: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f1a2a2, #4970f3);
    color: #d9d6d6;
    font-size: 30px;
    border-radius: 3px;
}